@charset "utf-8";
/*首页*/
.index-category {
  width: 100%;
  background: #fff;
  padding: 10px 0 0;
  margin-bottom: 10px;
  position: relative;
}
.ul-list {
  overflow: hidden;
  text-align: center;
  font-family: 微软雅黑;
}
.ul-list li {
  color: #666;
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-bottom: 10px;
  width: 20%
}
.ul-list.ul-list-50 li {
  width: 50%
}
.ul-list li a {
  color: #666;
  display: block
}
.ul-list li i {
  width: 36px;
  height: 36px;
  display: inline-block
}
.ul-list li span {
  display: block
}
.notice {
  background-color: #fff;
  color: #333;
  font-size: 12px;
  margin: 0 auto 10px;
  padding: 5px 10px;
  width: 100%;
}
.news_img {
  width: 43px;
  height: 32px;
  float: left;
  background: url(../images/gg.png) center center no-repeat;
  background-size: 43px 32px;
}
.notice em {
  margin: 0 3px 0 10px;
  font-weight: bold;
  color: #f60;
}
.t-news {
  height: 32px;
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
}
.t-news a {
  color: #333;
  display: block;
  line-height: 32px;
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  width: 99%;
}
.floor{
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  background-color: #fff;
}
.floor p{
  overflow: hidden;
  margin: 5px;
}
.floor1 p img{
  float: left;
  width: 50%;
  height: auto;
}
.floor2 p img{
  display: block;
  width: 100%;
  height: auto;
}
/*搜索结果*/
.header .search-box input {
  float: left;
  border: none;
  width: 70%;
  height: 30px;
  background: transparent;
  font-size: 14px;
  color: #333;
}
.header .search-box i.del {
  float: right;
  margin: 6px;
  background-position: -93px -67px;
}
.header .cancle {
  float: right;
  color: #fff;
  font-size: 14px;
}
.search-tab{
  position: fixed;
  top: 45px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #933;
  color: #fff;
}
.search-tab ul{
  overflow: hidden;
  width: 75%;
  margin: 0 auto;
}
.search-tab ul li{
  float: left;
  width: 33.33%;
  font-size: 14px;
  text-align: center;
}
.search-tab ul li.on{
  height: 33px;
  font-weight: bold;
  border-bottom: 3px solid #fff;
}
.filter {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  z-index: 20;
}
.filter ul {
  overflow: hidden;
}
.filter ul li {
  width: 24.7%;
  float: left;
  border-right: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  color: #666;
  position: relative;
}
.filter ul li:last-child {
  border-right: none;
}
.filter ul li.on {
  color: #E60012;
}
.filter ul li .drop-box {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  padding: 5px 0;
  position: absolute;
  right: 5px;
}
.filter ul li em.drop-up {
  display: block;
  width: 0;
  height: 0;
  margin-bottom: 5px;
  border: 6px solid;
  border-color: transparent transparent #999 transparent;
}
.filter ul li em.drop-up.on {
  border-bottom-color: #E60012;
}
.filter ul li em.drop-down {
  display: block;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: #999 transparent transparent transparent;
}
.filter ul li em.drop-down.on {
  border-top-color: #E60012;
}
.item-list.mt77 {
  margin-top: 77px;
}
.item-list {
  padding: 0 10px;
  background-color: #fff;
}
.item-list ul li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
.item-list ul li:last-child {
  border-bottom: none;
}
.item-list ul li .item-img {
  float: left;
  width: 35%;
  height: 100px;
}
.item-list ul li .item-con {
  float: left;
  width: 65%;
}
.item-list .item-con h3 {
  font-size: 16px;
  height: 34px;
  line-height: 17px;
  overflow: hidden;
}
.item-list .item-price {
  margin-top: 10px;
  color: #f00;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  clear: both;
}
.item-con .item-price em{
  float: left;
  font-size: 14px;
}
.item-con .item-price span{
  float: left;
}
.item-desc .price-new {
  color: #E60012;
  font-size: 18px;
  margin-right: 5px;
}
.item-desc .price-old {
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
}
.item-list .red {
  color: #E60012;
  font-size: 14px;
}
.item-list .tips{
  overflow: hidden;
}
.item-list .tips .fl {
  float: left;
  line-height: 30px;
  font-size: 13px;
}
.distance{
  float: right;
  color: #f60;
  font-size: 14px;
  line-height: 30px;
}
.distance i{
  width: 15px;
  height: 15px;
  background-position: -165px top;
  vertical-align: middle;
  margin-right: 5px;
}
.item-con .sold{
  color: #999;
  font-size: 14px;
  line-height: 30px;
}
.item-con .card-type{
  float: left;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 5px;
  color: #fff;
}
.item-con .card-type.red{
  background-color: #f66;
}
.item-con .card-type.orange{
  background-color: #f93;
}
.dx{
  text-align: center;
  padding:8px 0;
  margin-bottom: 15px;
  color:#999;
  font-size: 14px;
}
.back-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}
.back-top i {
  display: block;
  width: 61px;
  height: 61px;
  background-position: right bottom;
}
.empty-img {
  position: absolute;
  margin-top: -90px;
  left: 50%;
  margin-left: -57px;
  width: 116px;
  height: 180px;
  top: 50%;
}
.empty-text {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}
.empty-text span {
  display: block;
}
/*我的*/
.head-img {
  color: #fff;
  position: relative;
  width: 100%;
  background: #E60012;
  height: 120px;
}
.head-img .my-info {
  margin: 0 0 0 15px;
  z-index: 20;
  position: relative;
}
.head-img .my-img-wrap {
  display: inline-block;
  height: 75px;
  margin: 30px 0 0 0;
  position: relative;
  vertical-align: middle;
  width: 75px;
}
.head-img .my-img {
  border-radius: 50%;
  display: inline-block;
  height: 75px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 75px;
  z-index: 1;
}
.head-img .my-img img {
  width: 100%;
  height: 100%;
}
.head-img .my-person-info {
  display: inline-block;
  width: 72%;
  float: right;
  margin-top: 20px;
}
.my-head-number {
  font-size: 17px;
  line-height: 17px;
  margin-top: 35px;
}
.my-head-number p {
  padding-left: 10px;
}
.my-head-number a{
  display: block;
  width: 45px;
  height: 25px;
  line-height: 25px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  background-color: #7c152b;
  margin: 10px 0 0 10px;
}
.head-message {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
}
.head-message i {
  display: block;
  background-position: 0 -140px;
  height: 24px;
  width: 28px;
}
.head-message.new i{
  background-position: -30px -140px;
}
.head-set {
  position: absolute;
  right: 50px;
  top: 10px;
  text-align: center;
}
.head-set i {
  display: block;
  background-position: right -20px;
  height: 26px;
  width: 26px;
}
.order-item{
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  font-size: 14px;
}
.order-item .tit{
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
}
.order-item ul{
  overflow: hidden;
  margin-right: -1px;
}
.order-item ul li{
  width: 25%;
  height: 85px;
  float: left;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.order-item ul li img{
  display: block;
  margin: 10px auto 5px;
}
.order-item ul li span{
  display: block;
  text-align: center;
}
.vip-link{
  width: 100%;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 14px;
  overflow: hidden;
  position: relative;
}
.vip-link i.card{
  float: left;
  width: 30px;
  height: 30px;
  background-position: left -168px;
}
.vip-link i.pwd{
  float: left;
  width: 30px;
  height: 30px;
  background-position: -35px -169px;
}
.vip-link span{
  float: left;
  margin-left: 10px;
}
.vip-link i.icon-right{
  left: auto;
  right: 10px;
  top: 2px;
}
.vip-adv img{
  display: block;
  width: 100%;
  margin: 20px 0;
}
.head-edit-modal{
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 165px;
  background-color: #fff;
  z-index: 201;
}
.head-edit-modal a{
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
/*登录注册*/
.bind_phone{
  padding: 0 10px;
}
.bind_phone ul li{
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 60px;
  overflow: hidden;
}
.bind_phone ul li input{
  border: none;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: #999;
}
.bind_phone ul li .phone_input2{
  float: left;
  width: 50%;
}
.bind_phone ul li .tw_img{
  width: 25%;
  height: 35px;
  float: left;
  margin-right: 2%;
  margin-top: 12px;
}
.bind_phone ul li .tw_img img{
  width: 100%;
  height: 100%;
}
.bind_phone ul li .a_hq{
  width: 23%;
  height: 35px;
  float: left;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 35px;
  background-color: #E60012;
  font-size: 14px;
  margin-top: 12px;
}
.forget{
  display: block;
  text-align: right;
  color: #e60012;
  line-height: 35px;
  margin-bottom: 20px;
}
.a_phone_btn{
  background-color: #E60012;
  color: #fff;
  display: block;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 5%;
}
.a_phone_btn a{
  color: #fff;
  display: block;
}
.login-switch{
  width: 100%;
  position: fixed;
  bottom: 80px;
  text-align: center;
  font-size: 16px;
}
.login-switch a{
  color: #666;
  margin: 0 10px;
}
.reg-link{
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
}
.reg-link i{
  float: left;
  width: 15px;
  height: 15px;
  background-position: -145px top;
}
.reg-link i.off{
  background-position: -125px top;
}
.reg-link span{
  float: left;
  margin-left: 10px;
  color: #999;
}
.reg-link span a{
  color: #999;
}
.error-fixed {
  position: fixed;
  top: 45px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: rgba(0,0,0,.5);
  color: #fff;
  font-size: 14px;
  text-align: center;
  z-index: 199;
}
.error-fixed p {
  overflow: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
/*添加银行卡*/
.add-card{
  background: #fff;
  overflow: hidden;
}
.add-card ul li{
  border-bottom: 1px solid #ddd;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}
.add-card ul li label{
  width: 80px;
  float: left;
  margin-left: 15px;
}
.add-card ul li span{
  float: left;
  width: 70%;
  overflow: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.add-card ul li input{
  float: left;
  width: 70%;
  height: 40px;
  line-height: 40px;
}
.add-card ul li.code input{
  width: 40%;
}
.add-card ul li.code button{
  float: right;
  width: 80px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #999;
  color: #fff;
}
.add-card ul li.sel i{
  left: auto;
  right: 10px;
  height: 40px;
}
.add-card .sel-list{
  background-color: #f2f2f2;
  padding-left: 95px;
  clear: both;
}
.add-card .sel-list p{
  border-bottom: 1px solid #ddd;
  height: 30px;
  line-height: 30px;
  color: #999;
}
.add-card .sel-list p:last-child{
  border-bottom: none;
}
.card-btn{
  width: 230px;
  height: 30px;
  color: #fff;
  background-color: #e60012;
  font-size: 14px;
  border: none;
  display: block;
  margin: 30px auto;
}
.succ-modal{
  display: none;
  width: 200px;
  height: 45px;
  line-height: 45px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -100px;
  background-color: #fff;
  color: #696;
  font-size: 14px;
  text-align: center;
  z-index: 201;
}
/*银行卡解绑*/
.remove-card{
  overflow: hidden;
}
.remove-icon i{
  display: block;
  margin: 20px auto 10px;
  width: 40px;
  height: 40px;
  background-position: -95px bottom;
}
.remove-icon p{
  width: 100%;
  text-align: center;
  color: #e60012;
  font-size: 16px;
}
.remove-pwd p{
  width: 100%;
  line-height: 30px;
  text-align: center;
  color: #999;
  font-size: 14px;
  margin-top: 30px;
}
.remove-pwd .pwd-block{
  border: 1px solid #666;
  overflow: hidden;
  width: 242px;
  margin: 0 auto;
}
.remove-pwd .pwd-block span{
  float: left;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #666;
  border-right: 1px solid #666;
}
.remove-pwd .pwd-block span:last-child{
  border-right: none;
}
/*银行卡管理*/
.card-manage .tit{
  font-size: 14px;
  margin-left: 15px;
  line-height: 40px;
}
.card-list li{
  margin: 0 20px 10px;
  background-color: #999;
  color: #fff;
  overflow: hidden;
}
.card-list li img{
  float: left;
  margin: 10px
}
.card-list li span{
  float: left;
  font-size: 16px;
  line-height: 63px;
}
.card-list li a{
  float: right;
  line-height: 63px;
  font-size: 14px;
  text-align: center;
  width: 45px;
  background-color: #f63;
  color: #fff;
}
.card-manage .card-add-link{
  float: right;
  margin-right: 20px;
  font-size: 14px;
  color: #e60012;
  line-height: 30px;
}
/*密码管理*/
.pwd-manage ul{
  margin-top: 10px;
  background-color: #fff;
  padding-left: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.pwd-manage ul li{
  border-bottom: 1px solid #ddd;
  line-height: 45px;
  font-size: 14px;
  color: #666;
  position: relative;
  overflow: hidden;
}
.pwd-manage ul li:last-child{
  border-bottom: none;
}
.pwd-manage ul li span{
  float: left;
}
.pwd-manage ul li span.gray{
  color: #999;
  font-size: 12px;
  margin-left: 20px;
}
.pwd-manage ul li .icon-right{
  left: auto;
  right: 10px;
  height: 45px;
}
.pwd-manage ul li.switch i{
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  width: 50px;
  height: 25px;
}
.pwd-manage ul li.switch i.on{
  background-position: left bottom;
}
.pwd-manage ul li.switch i.off{
  background-position: left -245px;
}
.share-modal{
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 135px;
  padding-top: 25px;
  z-index: 201;
}
.share-modal ul{
  width: 100%;
  overflow: hidden;
}
.share-modal ul li{
  width: 25%;
  float: left;
}
.share-modal ul li img{
  display: block;
  margin: 0 auto;
}
.share-modal ul li span{
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
